.root {
  --body-color: #FF52AF;
  --title-color: #9F53FF;
  --body-color-day:#F5F0FF;
    --text-color-day: #220953;

    --title-color:#220953;
    --white-color:#ffffff;

     /* Night theme colors */
    --body-bg-night: #14092A;
    --text-color-night: #D1C0F1;

}
.night {
  background-color: var(--body-bg-night);
  color: var(--text-color-night);
}

.follow {
  justify-content:center;
  display: flex;
  flex-direction: column;
  align-items: center;
margin:0px 40px;

}

.insta {
  display: flex;
  width: 1440px;
 height: 500px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.follow p {
  color: var(--title-color, #220953);
  text-align: center;
  font-family: 'Lora';
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin:0px;
}

h4{
  background: var(--gradient-color, linear-gradient(73deg, #FF52AF 11.6%, #9F53FF 83.86%));
  margin:0px;
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
text-align: center;
  font-family: 'Lora';
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  
}
.yopic {
  width: 280px;
height: 420px;
}

.text-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.text-content p {
  margin: 0;
  text-align: center;
}

.hashtag {
  color: #FF52AF;
  font-weight: bold;
}

.flw {
  border-radius: 64px;
  background: var(--gradient-color, linear-gradient(73deg, #FF52AF 11.6%, #9F53FF 83.86%));
  border:none;
  display: inline-flex;
  height: 88px;
  padding: 17px 17px 16px 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7px;
  flex-shrink: 0;
  color: white;
}

.downinsta {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.yo {
  width: 500px;
height: 255.576px;
 
}
section{
  width:100%;
  display: inline-flex;
padding: 48px 0px 88px 0px;
flex-direction: column;
justify-content: center;
align-items: center;
}

.newsletter-container {
  background: linear-gradient(135deg, #FF7BAC 0%, #B77BFF 100%);
  border-radius: 25px;
  color: white;
  padding: 0px 224px;
  width: 1440px;
  height:374px;
  align-items:center;
  justify-content:center;

  max-width: 600px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.newsletter-header {
  font-family: 'Lora';
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align:center;
}



.newsletter-description {
  margin-bottom: 1.5em;
}

.newsletter-input {
  padding: 1em;
  border: none;
  border-radius: 48px;margin-left: 0;
  margin-right: -50px;
  flex-grow: 1;
  height: 50px;
}

.newsletter-button {
  position:relative;
align-items: center;
gap: 4px;
width:130px;
  border-radius: 64px;
  background: var(--gradient-color, linear-gradient(73deg, #FF52AF 11.6%, #9F53FF 83.86%));
  box-shadow: 0px 4px 12px 0px rgba(91, 10, 255, 0.25);
  height: 50px;
  border: none;
  color: white;
  margin-left: -85px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1em;
}

.newsletter-button:hover {
  background-color: #5800AD;
}

.subscription-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
    border-radius: 25px;
}

/* footer */

footer {
  background-color: #1E0849;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 64px 0;
  position: relative;
  
}

.yoga {
  margin-right: 200px;
}

.yoga h3 {
  font-family: 'Lora';
  background: var(--gradient-color,
      linear-gradient(73deg, #FF52AF 11.6%, #9F53FF 83.86%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h3{
  font-family:'Lora';
}
.contact {
  display: flex;
  justify-content: center;
  align-items: center;

}
.footer-top-line {
  position: absolute;
  top: 80%; 
  left:15%;
  width: 70%;
  border-top: 1.5px solid #A197B4; 
  transform: translateY(-80%); 
}

.footer-section {
  margin-left: 50px;
}

.socialfooter{
  position:absolute;
  top:85%;
  left:15%;
}

.copyright{
  color:#A197B4;
  position:absolute;
  font-size:13px;
  top:85%;
  right:15%;
}



/* Style for mobile phones (small screens) */
@media all and (max-width: 768px){
	footer{
    justify-content:center;
    display:inline-block;
    align-items:column;
  }
  .contact{
    display:inline-block;
    align-items:column;
  }
.footer-top-line {
  position: absolute;
  top: 90%; 
  left:15%;
  width: 70%;
  border-top: 1.5px solid #A197B4; 
  transform: translateY(-80%); /* 선을 정확하게 중앙에 위치시키기 위해 사용합니다 */
}

.socialfooter{
  position:absolute;
  top:93%;
  left:15%;
}

.copyright{
  color:#A197B4;
  position:absolute;
  font-size:13px;
  top:95%;
  right:15%;d
}
}

@media (prefers-color-scheme: dark) {
  .follow p{
    color: var(--text-color-night, #D1C0F1);
  }
  footer{
    background-color:var(--body-bg-night,#14092A);

}